body{
	width: 300px;
	height: 80px;
	font-size: 20px;
	padding: 7px;
}

p {
	margin: 10px;
}

button { 
	background: rgba(107, 107, 107, 0.5);
	height: 40px;
	width: 130px;
}


#top_bar{
	opacity: 0.8;
	border-bottom: 0px solid rgba(107, 107, 107, 0.5);
}

#logo {
	margin: 16px 0px 0px 10px;
	float: left;
	display: inline;
}

#title{
	margin: 11px 0px 0px 10px;
	display: inline-block;
}

#dev{
	float: right;
	font-size: 0.6em;
	margin: 4px 0px 10px 0px;
}

#opened{
	display: none;
	opacity: 0;
}

#opened button{
	margin: 10px 0px 10px 10px;
}

#colorpicker{
	margin: 0px 0px 10px 50px;
}

#hexValue {
	margin-left: 85px;
	height:30px;
	width: 130px;
	text-align: center;
}

#colorOpened {
	display: none;
}

#colorChoices {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 0.5px solid rgba(107, 107, 107, 0.5);
}

#saveColor {
	margin-left: 85px !important;
}

#colorType {
	text-align: center;
}

#choicesTitle {
	text-align: center;
}